{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <h2 class="elist" style="text-align:center; color: #4CAF50">MY SOCIAL CALENDAR</h2><br>
    <div class="col-md-12 text-center">
<div class="btn-group btn-group-lg">
<a href="{% url 'events_list' %}"><button class="btn btn-outline-primary"><h5>MY PLANS</h5></button></a>
<a href="{% url 'home' %}"><button class="btn btn-outline-primary"><h5>YOU'RE INVITED! | VOTE NOW!</h5></button></a>
<a href="{% url 'home' %}"><button class="btn btn-outline-primary"><h5>RESULTS ARE IN! | RSVP NOW!</h5></button></a>
</div>
</div>
    <br>
    <div class="container">
<div class="row">
    <div class="col-lg-4 col-sm-12">
{% for event in request.user.profile.created_events.all %}
        <div class="card" style="width: 18rem;">
            <div class="card-header" style="text-align: center">{{event.title}}</div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
        <ul>
        {% for date in event.date_options.all %}
            <li>{{date.date}}</li>
        {% endfor %}
            </ul>
    </h6>
    <p class="card-text">{{ event.description }}</p>
     {% if event in voted_events %}
      <h6>View Details</h6>
            {% else %}
            <a href="{% url 'voting_booth' event.id %}" class="card-link btn btn-primary">VOTE!</a>
            {% endif %}
  </div>
            <br>
  </div>
</div>
        <br>
{% endfor %}
    </div>
</div>
<hr>
        <h2>My Invites</h2><br>
    <div class="col-lg-3 col-sm-12">
{% for event in request.user.profile.my_events.all %}
       <div class="card" style="width: 18rem;">
            <div class="card-header" style="text-align: center">{{event.title}}</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                {% if event in voted_events %}
                <h6>View Details</h6>
                {% else %}
                <a href="{% url 'voting_booth' event.id %}" class="card-link btn btn-primary">VOTE!</a>
                {% endif %}
            </div>
</div>
{% endfor %}
    </div>
</div>

{% endblock %}



